@font-face {
    font-family: 'Comic Sans MS';
    src: url('/assets/fonts/comicsans.ttf') format('truetype');
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #5e8c58;
    color: white;
    font-family: 'Comic Sans MS';

    min-height: 100vh;

    background-image: url('/assets/paper.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
}

nav {
    background-color: #85ac80;
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav li {
    height: 35px;
    padding: 0 10px 0 10px;
    border-radius: 10px;

    font-size: 25px;
}

nav li a {
    height: 100%;
    padding: 0 10px;

    display: flex;
    align-items: center;

    text-decoration: none;
    color: white;
    gap: 8px;
}

.nav-title {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;

    max-width: 0;
    opacity: 0;
    margin-left: 0;

    transition:
        max-width 0.3s ease,
        opacity 0.2s ease,
        margin-left 0.3s ease;
}

nav li:hover .nav-title {
    max-width: 120px;
    opacity: 1;
    margin-left: 8px;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: #85ac8050;
    backdrop-filter: blur(10px);
    box-shadow: 10px 0px 10px rgba(0, 0, 0, 0.2);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li {
    width: 100%;
}

.sidebar a {
    width: 100%;
}

.menu-button {
    display: none;
}


.projects-container {
    padding: 50px 50px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

.shadow {
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

.project {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.project img {
    width: 50vh;
}

.project .content {
    padding: 5vh;
}

.project p, h1 {
    text-align: center;
    width: 50vh;
    font-size: 20px;
}

.project a {
    text-decoration: none;
    color: white;
    font-size: 15px;
}

.project h1 {
    font-size: 50px;
    text-align: center;

    text-shadow: 0px 1px 0px #090000,0px 2px 0px #090000,0px 3px 0px #090000,0px 4px 0px #090000,0px 5px 0px #090000,0px 6px 0px #090000;
}


@media (max-width: 950px) {
    .hideOnMobile {
        display: none;
    }

    .menu-button {
        display: block;
    }

    .project {
        flex-direction: column;
    }

    .project p, h1 {
        width: 40vh;
    }

    .project h1 {
        text-shadow: 0px 1px 0px #090000,0px 2px 0px #090000,0px 3px 0px #090000,0px 4px 0px #090000,0px 5px 0px #090000;
    }

    .project img {
        width: 40vh;
    }
}

@media (max-width: 400px) {
    .sidebar {
        width: 100%;
    }
}