@font-face {
    font-family: 'Comic Sans MS';
    src: url('/assets/fonts/comicsans.ttf') format('truetype');
}

body {
    background-color: #5e8c58;
    color: white;
    font-family: 'Comic Sans MS';

    margin: 0px;
    padding: 0px;

    background-image: url('/assets/paper.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
}

.title {
    background-color: #85ac80;
    min-height: 16vh;
    width: 100vw;

    background-image: url('/assets/decal.jpg');
    background-size: cover;
    background-blend-mode: multiply;

    border-bottom: 10px solid #ffffff;
}

.title h1 {
    margin: 0px;
    padding: 10px;
    text-align: center;
    font-size: 100px;

    text-shadow: 0px 1px 0px #5e8c58,0px 2px 0px #5e8c58,0px 3px 0px #5e8c58,0px 4px 0px #5e8c58,0px 5px 0px #5e8c58,0px 6px 0px #5e8c58,0px 7px 0px #5e8c58,0px 8px 0px #5e8c58,0px 9px 0px #5e8c58,0px 10px 0px #5e8c58;
}

@media (max-width: 700px) {
    body {
        background-size: auto 100vh;
    }

    .title {
        min-height: 10vh;
    }

    .title h1 {
        font-size: 50px;
    }
}

.contents {
    margin-top: 50px;
    padding: 10px;
}

p {
    text-align: center;
    font-size: 25px;
}

.emoji {
    font-size: 25px;
}

.lobster {
    font-size: 20vh;
}