:root {
    --primary-color: #85ac80;
    --bg-color: #5e8c58;
    --bg-hover-color: #85ac80;
    --base-color: #ffffff;
    --shadow-color: #00000040;
}

.darkmode {
    --primary-color: #85ac80;
    --bg-color: #121212;
    --bg-hover-color: #282828;
    --base-color: #282828;
    --shadow-color: #ffffff10;
}

@font-face {
    font-family: 'Comic Sans MS';
    src: url('/assets/fonts/comicsans.ttf') format('truetype');
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--bg-color);
    color: white;
    font-family: 'Comic Sans MS';

    min-height: 100vh;

    background-image: url('/assets/paper.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
}

nav {
    background-color: var(--bg-color);
    position: relative;
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav li {
    height: 35px;
    padding: 0 10px 0 10px;
    border-radius: 10px;

    font-size: 25px;
}

nav li a {
    height: 100%;
    padding: 0 10px;

    display: flex;
    align-items: center;

    text-decoration: none;
    color: white;
    gap: 8px;
}

.nav-title {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;

    max-width: 0;
    opacity: 0;
    margin-left: 0;

    transition:
        max-width 0.3s ease,
        opacity 0.2s ease,
        margin-left 0.3s ease;
}

nav li:hover .nav-title {
    max-width: 120px;
    opacity: 1;
    margin-left: 8px;
}

nav .update-button {
    position: absolute;
    left: 40px;
    top: 50%;
    transform: translateY(-50%);
    text-decoration: none;
}

#theme-switch {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);

    margin: 0;
    padding: 0;
    border-radius: 100vh;
    background-color: var(--bg-color);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

#theme-switch:hover {
    cursor: pointer;
    background-color: var(--bg-hover-color);
}

#theme-switch p:last-child {
    display: none;
}

.darkmode #theme-switch p:first-child {
    display: none;
}

.darkmode #theme-switch p:last-child {
    display: block;
}

.theme {
    font-size: 16px;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: var(--primary-color)50;
    backdrop-filter: blur(10px);
    box-shadow: 10px 0px 10px var(--shadow-color);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li {
    width: 100%;
}

.sidebar a {
    width: 100%;
}

.menu-button {
    display: none;
}

.title {
    background-color: var(--primary-color);
    min-height: 16vh;
    width: 100%;

    background-image: url('/assets/decal.jpg');
    background-size: cover;
    background-blend-mode: multiply;

    border-bottom: 10px solid var(--base-color);
}

.title h1 {
    margin: 0px;
    padding: 10px;
    text-align: center;
    font-size: 100px;

    text-shadow: 0px 1px 0px var(--bg-color),0px 2px 0px var(--bg-color),0px 3px 0px var(--bg-color),0px 4px 0px var(--bg-color),0px 5px 0px var(--bg-color),0px 6px 0px var(--bg-color),0px 7px 0px var(--bg-color),0px 8px 0px var(--bg-color),0px 9px 0px var(--bg-color),0px 10px 0px var(--bg-color);
}

.contents {
    margin-top: 50px;
    padding: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    gap: 10px;
}

p {
    text-align: center;
    font-size: 25px;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

.emoji {
    font-size: 25px;
}

.lobster {
    font-size: 20vh;
    display: inline-block;
    width: fit-content;

    transition: transform 1s ease-in-out;
}

.lobster:hover {
    transform: rotate(180deg);
}

@media (max-width: 800px) {
    .hideOnMobile {
        display: none;
    }

    .menu-button {
        display: block;
    }

    body {
        background-size: auto 100vh;
    }

    .title {
        min-height: 10vh;
    }

    .title h1 {
        font-size: 50px;
    }
}

@media (max-width: 400px) {
    .sidebar {
        width: 100%;
    }
}