:root {
    --primary-color: #85ac80;
    --bg-color: #5e8c58;
    --bg-hover-color: #85ac80;
    --base-color: #ffffff;
    --shadow-color: #00000040;
}

.darkmode {
    --primary-color: #85ac80;
    --bg-color: #121212;
    --bg-hover-color: #282828;
    --base-color: #282828;
    --shadow-color: #ffffff10;
}

@font-face {
    font-family: 'Comic Sans MS';
    src: url('/assets/fonts/comicsans.ttf') format('truetype');
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--bg-color);
    color: white;
    font-family: 'Comic Sans MS';

    min-height: 100vh;

    background-image: url('/assets/paper.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
}

nav {
    background-color: var(--bg-color);
    position: relative;
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav li {
    height: 35px;
    padding: 0 10px 0 10px;
    border-radius: 10px;

    font-size: 25px;
}

nav li a {
    height: 100%;
    padding: 0 10px;

    display: flex;
    align-items: center;

    text-decoration: none;
    color: white;
    gap: 8px;
}

.nav-title {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;

    max-width: 0;
    opacity: 0;
    margin-left: 0;

    transition:
        max-width 0.3s ease,
        opacity 0.2s ease,
        margin-left 0.3s ease;
}

nav li:hover .nav-title {
    max-width: 120px;
    opacity: 1;
    margin-left: 8px;
}

#theme-switch {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);

    margin: 0;
    padding: 0;
    border-radius: 100vh;
    background-color: var(--bg-color);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

#theme-switch:hover {
    cursor: pointer;
    background-color: var(--bg-hover-color);
}

#theme-switch p:last-child {
    display: none;
}

.darkmode #theme-switch p:first-child {
    display: none;
}

.darkmode #theme-switch p:last-child {
    display: block;
}

.theme {
    font-size: 16px;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: var(--primary-color)50;
    backdrop-filter: blur(10px);
    box-shadow: 10px 0px 10px var(--shadow-color);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li {
    width: 100%;
}

.sidebar a {
    width: 100%;
}

.menu-button {
    display: none;
}

.content {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.carousel {
    margin: 0px auto;
    width: 100%;
    height: 20em;
    display: flex;
    overflow-x: auto;
}
.carousel::-webkit-scrollbar {
    display: none;
}

.group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    padding-right: 1em;

    animation: spin 25s infinite linear;
}

.card {
    flex: 0 0 5em;
    height: 3em;
    padding: 1em;
    font-size: 5rem;
    border-radius: .2em;
    text-align: center;
    align-content: center;
}

.card img {
    width: 100%;
    box-shadow: 5px 10px 10px var(--shadow-color);
    transition: transform 0.2s ease-in-out;
}

.card img:hover {
    transform: scale(1.25);
}

.note {
    text-align: center;
    font-size: 12px;
}

@keyframes spin {
    from {translate: 0;}
    to {translate: -100%;}
}

@media (max-width: 950px) {
    .hideOnMobile {
        display: none;
    }

    .menu-button {
        display: block;
    }

    .group {
        animation: spin 10s infinite linear;
    }

    .card {
        font-size: 3em;
    }
}

@media (max-width: 400px) {
    .sidebar {
        width: 100%;
    }
}