<nav>
    <ul class="sidebar">
        <li onclick=hideSidebar()><a href="#">❌ Close</a></li>
        <li><a href="/home">🏠 Home</a></li>
        <li><a href="/interests">💡 Interests</a></li>
        <li><a href="/projects">👷 Projects</a></li>
        <li><a href="/updates">📋 Updates</a></li>
    </ul>
    <ul>
        <button id="theme-switch">
            <p class="theme">🌙</p>
            <p class="theme">☀️</p>
        </button>
        <li class="menu-button" onclick=showSidebar()><a href="#">📃 Navigation</a></li>
        <li class="hideOnMobile"><a href="/home">🏠<span class="nav-title">Home</span></a></li>
        <li class="hideOnMobile"><a href="/interests">💡<span class="nav-title">Interests</span></a></li>
        <li class="hideOnMobile"><a href="/projects">👷<span class="nav-title">Projects</span></a></li>
        <li class="hideOnMobile"><a href="/updates">📋<span class="nav-title">Updates</span></a></li>
    </ul>
</nav>