:root {
    --primary-color: #85ac80;
    --bg-color: #5e8c58;
    --bg-hover-color: #85ac80;
    --base-color: #ffffff;
    --shadow-color: #00000040;
}

.darkmode {
    --primary-color: #85ac80;
    --bg-color: #121212;
    --bg-hover-color: #282828;
    --base-color: #282828;
    --shadow-color: #ffffff10;
}

@font-face {
    font-family: 'Comic Sans MS';
    src: url('/assets/fonts/comicsans.ttf') format('truetype');
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--bg-color);
    color: white;
    font-family: 'Comic Sans MS';

    min-height: 100vh;

    background-image: url('/assets/paper.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
}

nav {
    background-color: var(--bg-color);
    position: relative;
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav li {
    height: 35px;
    padding: 0 10px 0 10px;
    border-radius: 10px;

    font-size: 25px;
}

nav li a {
    height: 100%;
    padding: 0 10px;

    display: flex;
    align-items: center;

    text-decoration: none;
    color: white;
    gap: 8px;
}

.nav-title {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;

    max-width: 0;
    opacity: 0;
    margin-left: 0;

    transition:
        max-width 0.3s ease,
        opacity 0.2s ease,
        margin-left 0.3s ease;
}

nav li:hover .nav-title {
    max-width: 120px;
    opacity: 1;
    margin-left: 8px;
}

nav .update-button {
    position: absolute;
    left: 40px;
    top: 50%;
    transform: translateY(-50%);
    text-decoration: none;
}

#theme-switch {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);

    margin: 0;
    padding: 0;
    border-radius: 100vh;
    background-color: var(--bg-color);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

#theme-switch:hover {
    cursor: pointer;
    background-color: var(--bg-hover-color);
}

#theme-switch p:last-child {
    display: none;
}

.darkmode #theme-switch p:first-child {
    display: none;
}

.darkmode #theme-switch p:last-child {
    display: block;
}

.theme {
    font-size: 16px;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: var(--primary-color)50;
    backdrop-filter: blur(10px);
    box-shadow: 10px 0px 10px var(--shadow-color);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li {
    width: 100%;
}

.sidebar a {
    width: 100%;
}

.menu-button {
    display: none;
}

#update-log {
    padding: 20px;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#update-log h1 {
    margin-bottom: 20px;
    font-size: 50px;
}

.update {
    background-color: var(--bg-color);
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;

    transition: transform 0.2s ease;
}

.update.latest {
    background-color: var(--primary-color);
    box-shadow: 0px 0px 10px var(--shadow-color);
}

.update:hover {
    transform: scale(1.1);
    cursor: default;
}

.update h2 {
    font-size: 50px;
}

.update ul {
    list-style: none;
}

.update li {
    font-size: 25px;
    text-align: left;
}

@media (max-width: 950px) {
    .hideOnMobile {
        display: none;
    }

    .menu-button {
        display: block;
    }

    #update-log h1 {
        font-size: 40px;
    }

    .update li {
        font-size: 15px;
    }
}

@media (max-width: 400px) {
    .sidebar {
        width: 100%;
    }
}